@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.preview-slide * {
	zoom: 0.5;
	-webkit-transform: scale(0.5);
	-webkit-transform-origin: 0 0;
}
/* Resizing Slide Element */
body.cursor-nwse-resize * {
	cursor: nwse-resize !important;
}
body.cursor-nesw-resize * {
	cursor: nesw-resize !important;
}
body.cursor-ew-resize * {
	cursor: ew-resize !important;
}
body.cursor-ns-resize * {
	cursor: ns-resize !important;
}
.resize-indicator {
	display: none;
}
.show-resize:focus .resize-indicator,
.show-resize:focus-within .resize-indicator {
	display: block;
}
/* Scrollbar */

/* Width of scrollbar for X and Y axis */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #00000005;
	border: solid 2px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px 10px white;
	border-radius: 10px;
	border: solid 2px transparent;
}
